html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 40px 40px 180px !important;
	font-family: 'Roboto', sans-serif;
	height: auto !important;
}

.open-search {
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.currentShelfState	{
	display: flex;
	align-items: center;
	color: rgba(0,0,0,0.95);
	height: 100%;
	padding-bottom: 4px;
}

.bookshelf {
	margin-bottom: 40px;
}